{% extends "base.html" %}
{% load static %}

{% block title %}
  Categories
{% endblock title %}

{% block content %} 
    {% for category in categories %}
    <ul>
        <li>
          <h1>{{ category.title }}</h1>
        </li>
        <li>
          <!-- <p>{{ category.image }}</p> -->
        </li>
        {% if category.image %}

        <li>
          <img src="{{ category.image.url }}"></img>
        </li>
        {% else %}
        <p></p>
        {% endif %}
      </ul>
      <br />
      {% endfor %}
    
{% endblock content %} 


