{% extends "base.html" %}
{% load static %}

{% block title %}
  Ingredients
{% endblock title %}

{% block content %} 
    {% for ingredient in ingredients %}
    <ul>
        <li>
          <h1>{{ ingredient.title }}</h1>
        </li>
        {% if ingredient.image %}

        <li>
          <img src="{{ ingredient.image.url }}"></img>
        </li>
        {% else %}
        <p></p>
        {% endif %}
        <li>
          <p>{{ ingredient.cat }}</p>
        </li>
      </ul>
      <br />
      {% endfor %}
    
{% endblock content %} 


